<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Incorrect Credentials!</title>
</head>

<body id="login-body">
    <h1 id="error">Incorrect Credentials!</h1>

    <div id="buttons">
        <p>Please try again with another email or password.</p>

        <a href="/register">
            <button>Register</button>
        </a>

        <a href="/login">
            <button>Login</button>
        </a>
    </div>
</body>

</html>