<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Credentials!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 id="error">Incorrect Credentials!</h1>
    <p>Please try again with another email or password.</p>

    <button onclick="location.href='/register'">Register</button>

    <button onclick="location.href='/login'">Login</button>
</body>

</html>