<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ToDo's Express</title>
</head>

<body id="index-body">
    <h1>Welcome to ToDo's Express!</h1>

    <div id="buttons">
        <button onclick="location.href='/todos'">ToDos</button>
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
    </div>

</body>

</html>