<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove ToDo</title>
</head>

<body>
    <h1>Remove ToDo</h1>

    <form action="/todos/remove_todo" method="POST">
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" required>

            <button type="submit">Remove ToDo</button>
        </div>
    </form>
</body>

</html>