<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ToDos</title>
</head>

<body id="todos-body">
    <h1>Hello <%= name %>!</h1>

    <% todos.forEach(todo => { %>
    <ul>
        <li><%= todo.title %></li>
        <ul>
            <li><%= todo.description %></li>
        </ul>
    </ul>
    <% }) %>

    <div id="buttons">
        <a href="/todos/add_todo">
            <button>Add ToDo</button>
        </a>

        <a href="/todos/Remove_todo">
            <button>Remove ToDo</button>
        </a>

        <form action="/logout?_method=DELETE" method="POST">
            <button class="input" type="submit">Log Out</button>
        </form>
    </div>
</body>

</html>