<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weak Credentials</title>
</head>

<body id="weak-credentials-body">
    <h1 id="weak">Weak Credentials</h1>

    <p>Your credentials seem to be a little weak. This will compromise the strength of your credentials. Tips to make
        stronger ones:</p>

    <ul>
        <li>Your name must be at least 3 characters long.</li>
        <li>Your email must be trusty.</li>
        <li>Your password must be at least 6 characters long.</li>
        <li>Your password must not contain the same character multiple times.</li>
    </ul>

    <div id="buttons">
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
</body>

</html>