#index-body { background-image: linear-gradient(-90deg, rgb(22, 99, 200), rgb(52, 41, 73)); }
#register-body { background-image: linear-gradient(-90deg, darkblue, lightblue); }
#login-body { background-image: linear-gradient(-90deg, rgb(8, 8, 47), rgb(59, 206, 255)); }
#weak-credentials-body { background-image: linear-gradient(-90deg, rgb(0, 0, 255), rgb(126, 35, 78)); }
#todos-body { background-image: linear-gradient(-90deg, rgb(106, 106, 251), rgb(0, 0, 87)); }
#error-body { background-image: linear-gradient(-90deg, green, darkblue);}

h1 {
    color: aquamarine;

    display: block;
    text-align: center;
    
    /* Some old browsers do not support vw */
    font: 10.5vw cursive;

    margin: 0px 0px 0px 0px;
}
#error { color: rgb(228, 62, 62); }

p { color: white; font-size: 2.3vw; }
li { font-size: 2vw; color: white; }

#buttons {
    /* width: 100px;
    height: 50px; */

    text-align: center;
    display: block;

    margin-top: 20px;
}
button {
    background-color: crimson;
    color: #fff;

    border: 1px solid;
    
    padding: 15px;
    width: 175px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inputs-register-div {
    margin: 0 auto;
    text-align: center;
    display: grid;
    width: 35vw;
}
.input { margin-top: 7px; }

#h2-index-changelog {
    margin-top: 200px;
    color: white;
    font-size: 24px;
}

#p-index-changelog {
    font-size: 15px;
    line-height: 50px;
    font-family: monospace;
}
#p-error-error {
    color: black;
}