#index-body { background-image: linear-gradient(-90deg, rgb(22, 99, 200), rgb(52, 41, 73)); }
#register-body { background-image: linear-gradient(-90deg, darkblue, lightblue); }
#login-body { background-image: linear-gradient(-90deg, rgb(8, 8, 47), rgb(59, 206, 255)); }


h1 {
    color: aquamarine;

    display: block;
    text-align: center;
    
    /* Some old browsers do not support vw */
    font: 10.5vw cursive;

    margin: 0px 0px 0px 0px;
}

#buttons {
    /* width: 100px;
    height: 50px; */

    text-align: center;
    display: block;

    margin-top: 20px;
}
button {
    background-color: crimson;
    color: #fff;

    border: 1px solid;
    
    padding: 15px;
    width: 175px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inputs-register-div {
    margin: 0 auto;
    text-align: center;
    display: grid;
    width: 35vw;
}
.input {
    margin-top: 7px;
}